<div class="story-container">
    <section class="section-header">
        <img [src]="story2Photo" alt="Photo of Story 2">
        <h1>Our Story</h1>
    </section>
    
    <section class="section-description1">
        <p>{{ text1 }}</p>
        <p>{{ text2 }}</p>
    </section>

    <section class="section-image">
        <img [src]="story3Photo" alt="Photo of Story 3">
    </section>

    <section class="section-description2">
        <p>{{ text3 }}</p>
    </section>

    <section class="section-timeline">
        <h1>Timeline</h1>
    </section>
</div>
