<div class="location-container">
    <section class="section-header">
        <img [src]="locationPhoto" alt="Photo of Location">
        <h1>Our Location</h1>
    </section>
    
    <section class="section-address">
        <div class="address">
            <p>Address: 2nd Floor, 1526 P. Santos Street corner EDSA, Makati City</p>
            <p>Tel Nos.: 8892020 / 7502425 / 09175076001 / 09175636239</p>
            <p>Email Addresses: career@globenet.com.ph / ops@career.com.ph</p>
        </div>
    </section>
    
    <section class="section-map">
        <div #mapContainer id="map"></div>
    </section>
</div>
