<section class="container">
    <ng-container *ngIf="isActiveUser; else isActiveProfile">
        <div *ngFor="let user of user$ | async">
            <app-user-dashboard [user]="user"></app-user-dashboard>
        </div>
    </ng-container>
    
    <ng-template #isActiveProfile>
        <div *ngFor="let profile of profile$ | async">
            <app-user-dashboard [profile]=profile></app-user-dashboard>
        </div>
    </ng-template>
    
    <div class="pagination">
        <mat-paginator 
            [length]="totalSize" 
            [pageSize]="pageSize" 
            (page)="pageChangeEvent($event)">
            <!-- [pageSizeOptions]="pageSizeOptions" -->
        </mat-paginator>
    </div>
</section>
