:host {
    display: block;
}

.admin-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: white;
}

.aside {
    position: relative;
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(97, 148, 214, 0.3), rgb(21, 49, 109));
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}

.content-link {
    position: relative;
    text-align: center;
}

.mat-list-item {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 0.86rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.admin-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

hr {
    width: 50%;
    color: lightblue;
}

.pagination {
    position: fixed;
    text-align: center;
    bottom: 10px;
}

.pagination .mat-paginator {
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    font-size: 0.8rem;
}

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.search-full-width {
    width: 100%;
}

:host ::ng-deep .mat-icon {
    cursor: pointer;
}

:host ::ng-deep .mat-input-element {
    caret-color: white;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    /* padding: 0.8em 0 0.8em 0; */
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 0.5;
    color: ghostwhite;
}