<!-- <div class="home-container">
    <div class="header">
        <h1>Career Philippines Shipmanagement, Inc.</h1>
        <p>
            Currently manning around 311 ships of various types: Containerships up to 18,000TEUs, Bulk Carriers
            including Capesizes, Chemical and Crude Oil Tankers, Multi-Purpose vessels capable of carrying 750 tons,
            Reefer Ships, RoRo Ferries, Expedition Cruisers and Luxury Passenger ships. With this fleet, Career was
            able to annually deploy more than 7,000 seafarers since 2010.
        </p>
    </div>
    <div class="card-holder">
        <div class="all-cards">
            <div class="card"><h2>Card A</h2></div>
            <div class="card"><h2>Card B</h2></div>
            <div class="card"><h2>Card C</h2></div>
            <div class="card"><h2>Card D</h2></div>
        </div>
    </div>
</div> -->

<div class="grid">
    <div class="one">
        <h1>Career Philippines Shipmanagement, Inc.</h1>
    </div>
    <div class="two">
        <div class="three">
            <div class="ab"><h2>Card A</h2></div>
            <div class="ab"><h2>Card B</h2></div>
            <div class="ab"><h2>Card C</h2></div>
            <div class="ab"><h2>Card D</h2></div>
        </div>
    </div>
</div>