:host {
    display: block;
}

.user-container {
    max-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    background-color: white;
}

.aside {
    height: 100%;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(97, 148, 214, 0.3), rgb(21, 49, 109));
}

.aside-box {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius:50%;
    /* background-color: #585351;
    box-shadow: 0 0 0 2px #edeeee; */
}

.aside img {
    position: relative;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.aside-link li {
    margin: 15px 0;
    font-weight: normal;
}

.aside-link a {
    color: white;
}

.aside-link a:hover
.aside-link a:focus {
    color: black;
}

.aside p {
    font-size: 1rem;
    color: white;
}

.upload-photo {
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.upload-photo:hover
.upload-photo:focus {
    color: black;
}

.section-profile {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
}

.profile-header {
    width: 100%;
    height: 40px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
}

.profile-header h3 {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.document {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 30px
}

.file-upload {
    width: 100%;
    text-align: center;
}

input {
    color: white;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}