:host {
    display: block;
}

.user-container {
    max-width: 1280px;
    min-width: 40%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.user-grid {
    width: 100%;
    height: 32vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: teal; */
    background-image: linear-gradient(to top, rgba(84, 175, 187, 0.3), rgb(8, 110, 139)); 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
}