<div class="user-container">
    
    <aside class="aside">
        <div class="aside-box">
            <img [src]="user.photo" alt="Photo of User">
        </div>

        <div *ngIf="profile">
            <h3>{{ fullname }}</h3>
            <mat-divider></mat-divider>
        </div>
        
        <div>
            <input type="file"
                   #fileInput
                   accept="image/*" 
                   [ngStyle]="uploadDisplay"
                   (change)="onFileSelected($event)">
            <button mat-button (click)="fileInput.click()">Choose new photo</button>
        </div>
        <hr>
        
        <div class="content-link">
            <mat-nav-list>
                <mat-list-item [routerLink]="['./dashboard']">Dashboard</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item [routerLink]="['./profile']">Profile</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item [routerLink]="['./password']">Change Password</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item [routerLink]="['./document']">Upload Document</mat-list-item>
            </mat-nav-list>
        </div>
    </aside>

    <div class="user-content">
        <router-outlet></router-outlet>
    </div>
</div>