:host {
    display: block;
}

.form-container {
    width: 100%;
    min-width: 40%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.form-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    
    background-image: linear-gradient(to top, rgba(138, 188, 252, 0.3), rgb(21, 49, 109));
    -webkit-clip-path: polygon(50% 50%, 100% 30%, 100% 0, 0% 0, 0 30%);
    clip-path: polygon(50% 50%, 100% 30%, 100% 0, 0% 0, 0 30%);
}

.mat-card {
    display: flex;
    margin: 2em auto;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-container {
    padding-left: 1.3em;
}

div.mat-card-header-text {
    margin: 0;
}

.mat-card-title {
    padding-top: 0.5em;
    color: crimson;
}

.mat-form-field {
    width: 100%;
    padding-top: 1em;
}

.mat-card-actions {
    padding-left: 0.3em;
    margin-bottom: 0;
}

.cancel {
    font-weight: 500;
    color: blueviolet;
    cursor: pointer;
    text-decoration: none;
    padding-left: 1em;
}