<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport >
        <mat-list class="logo">
            <img src="." alt="CP Logo">
            <p>Career Philippines</p>
        </mat-list>
        
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/register']" (click)="closeSideNav()">Register</a>
        </mat-nav-list>
        
        <mat-nav-list *ngIf="!isLoggedIn; else logout">
            <a mat-list-item [routerLink]="['/login']" (click)="closeSideNav()">Login</a>
        </mat-nav-list>
        
        <ng-template #logout>
            <mat-nav-list>
                <a mat-list-item (click)="closeSideNav()">Logout</a>
            </mat-nav-list>
        </ng-template>
    </mat-sidenav>

    <mat-sidenav-content role="main">
        <main [@routeAnimation]="getState(myOutlet)">
            <app-navigation (opened)=sidenav.open()></app-navigation>
            <router-outlet #myOutlet="outlet">
                <!-- <app-toast></app-toast> -->
                <app-loader></app-loader>
            </router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>