<section class="section-password">
    <div class="password-header">
        <h3>Change Password</h3>
        <mat-divider></mat-divider>
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Current password</mat-label>
            <input matInput
                    [type]="hide ? 'password' : 'text'"
                    placeholder="Current Password" 
                    type="password" 
                    formControlName="currentpass">
            <button mat-icon-button 
                    matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input matInput
                    [type]="hide ? 'password' : 'text'"
                    placeholder="New Password" 
                    type="password" 
                    formControlName="newpass">
            <button mat-icon-button 
                    matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput
                    [type]="hide ? 'password' : 'text'"
                    placeholder="Confirm Password" 
                    type="password" 
                    formControlName="confirmpass">
            <button mat-icon-button 
                    matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-flat-button type="submit" [disabled]="!passwordForm.valid">Save Changes</button>
    </form>
</section>