:host {
    display: block;
    min-width: 40%;
}

.section-password {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: var(--formbg);;
}

.password-header {
    position: relative;
    margin: 20px;
}

.password-header h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.mat-flat-button.mat-primary, 
.mat-raised-button.mat-primary {
    width: 125px;
    background-color: var(--primary);
}

.mat-flat-button.mat-warn, 
.mat-raised-button.mat-warn {
    width: 125px;
    background-color: var(--warn);
}