:host {
    display: block;
}

.section-password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.user-password {
    position: relative;
    width: 45%;
    background-color: ghostwhite;
}

.password-header {
    position: relative;
    margin: 20px;
}

.password-header h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
