:host {
    display: block;
}

.nav-container {
    width: 100vw;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.mat-toolbar.mat-primary {
    color: #fff;
}

.cp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    cursor: pointer;
}

.nav-spacer {
    flex: 1 1 auto;
}

.material-icons {
    transform: scale(1.5);
    padding: 0;
}

.mat-icon-button i,
.mat-icon-button .mat-icon {
    line-height: 22px;
    font-size: 1.3rem;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    line-height: 38px;
    border-radius: 50%;
}

.mat-toolbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.mat-toolbar ul:first-of-type {
    flex: 1;
}

.mat-toolbar ul li {
    padding: 0 1em;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.mat-toolbar ul li:first-child {
    padding-left: 0;
}

.mat-toolbar ul li a {
    color: black;
}

.mat-toolbar ul li a:hover
.mat-toolbar ul li a:focus {
    color: var(--primary);
}

.mat-button {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
}

.image-avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.2);
    left: 50px;
    cursor: pointer;
}

.image-avatar img {
    position: relative;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
