<mat-toolbar color="primary">
    <button mat-button *ngIf="isHandset" 
            type="button" 
            aria-label="Toggle sidenav" 
            mat-icon-button (click)="open(true)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <ul>
        <div class="cp-logo" (click)=onLogoClick()>
            <img src="../../assets/logo/cplogo.png" alt="CPLogo">
        </div>

        <li>
            <a  [routerLink]="['./story']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Story
            </a>
        </li>
        <li>
            <a  [routerLink]="['./mission']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Mission
            </a>
        </li>
        <li>
            <a  [routerLink]="['./people']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">People
            </a>
        </li>
        <li>
            <a  [routerLink]="['./location']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Location
            </a>
        </li>

        <li>
            <a  [routerLink]="['./user-profile']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">User Profile
            </a>
        </li>

        <ng-container *ngIf="!isHandset">
            <span class="nav-spacer"></span>

            <li>
                <a  [routerLink]="['../admin/register']" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Register
                </a>
            </li>

            <ng-container *ngIf="!isLoggedIn; else logout">
                <li>
                    <a  [routerLink]="['../admin/login']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Login
                    </a>
                </li>
            </ng-container>

            <ng-template #logout>
                <li>
                    <button mat-button (click)="onLogout()">Logout</button>
                </li>
            </ng-template>
        </ng-container>
    </ul>
</mat-toolbar>