:host {
    display: block;
    font-family: 'Lato', sans-serif;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    max-width: 1280px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: transparent; */
    background-color: white;
}

.mat-toolbar.mat-primary {
    color: #fff;
}

.cp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    cursor: pointer;
}

.nav-spacer {
    flex: 1 1 auto;
}

.material-icons {
    transform: scale(1.5);
    padding: 0;
}

.mat-icon-button i,
.mat-icon-button .mat-icon {
    line-height: 22px;
    font-size: 1.3rem;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    line-height: 38px;
    border-radius: 50%;
}

.mat-toolbar ul {
    display: flex;
    list-style: none;
    font-size: 0.75em;
    font-weight: bold;
    align-items: center;
}

.mat-toolbar ul:first-of-type {
    flex: 1;
}

.mat-toolbar ul li {
    padding: 0 1.5em;
    font-weight: normal;
}

.mat-toolbar ul li:first-child {
    padding-left: 0;
}

.mat-toolbar ul li a {
    color: black;
}

.mat-toolbar ul li a:hover {
    color: var(--primary);
}
