<section class="section-profile">
    <div class="user-header">
        <ng-container *ngIf="!hasProfile; else editProfile">
            <h3>Create Profile</h3>
            <hr>
        </ng-container>
        <ng-template #editProfile>
            <h3>Edit Profile</h3>
        </ng-template>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-radio-group aria-label="Gender">
            <mat-radio-button value="1">Mr</mat-radio-button>
            <mat-radio-button value="2">Ms</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Juan">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Dela Cruz">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="juandelacruz@example.com">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <!-- <example-tel-input required></example-tel-input> -->
            <input matInput placeholder="e.g. 0123 1234567">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Include area/country code</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput placeholder="e.g San Juan, Metro Manila">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Click the icon and choose your birth date --></mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Designation/Position</mat-label>
            <input matInput placeholder="e.g Chief Engineer">
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit">Save Profile</button>
    </form>
</section>