:host {
    display: block;
}

.section-profile {
    width: 90%;
    margin-top: 20px;
}

.user-header {
    position: relative;
    margin-bottom: 20px;
}

.user-header h3 {
    margin: 0;
    font-family: "Lato", sans-serif;
}

form {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mat-form-field:nth-child(6) {
    margin-top: 20px;
}

mat-radio-group {
    margin-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
