<div class="container">
    <h1>Career Philippines Shipmanagement, Inc.</h1>
    <h3>
        is currently manning around 311 ships of various types: Containerships up to 18,000TEUs, Bulk Carriers including Capesizes, Chemical and Crude Oil Tankers, Multi-Purpose vessels capable of carrying 750 tons, Reefer Ships, RoRo Ferries, Expedition Cruisers and Luxury Passenger ships. With this fleet, Career was able to annually deploy more than 7,000 seafarers since 2010.
    </h3>
    <!-- <app-story></app-story>
    <app-mission></app-mission>
    <app-people></app-people>
    <app-location></app-location> -->
</div>