/* You can add global styles to this file, and also import other style files */

/* Variables */
:root {
    --primary: #55a6ee;
    --secondary: #F9A603;
    --darkblue: #1754d3;
    --lightblue: rgb(175, 235, 255);
}

html, body {
    margin: 0;
    padding: 0;
}

/* Reset */
body, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    background-color: #93a5cf;
    /* background-image: linear-gradient(to top, #e4efe9 0%, #93a5cf 100%); */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.snackbar-red-bg {
    font-size: 1.2rem;
    background-color: red;
}

.snackbar-green-bg {
    font-size: 1.2rem;
    background-color: green;
}