<div class="home-container">
    <div class="header">
        <h1>Career Philippines Shipmanagement, Inc.</h1>
    </div>
    <div class="home-grid">
        <div class="menu-grid">
            <ng-container *ngFor="let content of contents">
                <div class="card">
                    <img [src]="content.image" alt="Photo of {{content.image}}">
                    <h2>{{ content.title }}</h2>
                    <button mat-button (click)="onContentClick(content.link)">Learn more</button>
                </div>
            </ng-container>
        </div>
    </div>

    <app-footer class="footer"></app-footer>
</div>