<div class="home-container">
    <div class="header">
        <h1>CAREER Philippines Shipmanagement, Inc.</h1>
    </div>
    <div class="home-grid">
        <div class="menu-grid">
            <ng-container *ngFor="let menu of menu$ | async">
                <div class="card">
                    <img [src]="menu.image" alt="Photo of {{menu.image}}">
                    <h2>{{ menu.title }}</h2>
                    <button mat-button (click)="onMenuClick(menu.link)">Learn more</button>
                </div>
            </ng-container>
        </div>
    </div>

    <app-footer class="footer"></app-footer>
</div>